<%= form_for @emprestimo, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :aluno_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :aluno_id, @alunos.map {|a| [a.nome,a.id] }%>

    </div>
  </div>
  <div class="control-group">
    <%= f.label :livro_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :livro_id, @livros.map {|l| [l.titulo,l.id] }%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :data_de_emprestimo, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :data_de_emprestimo, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :data_de_devolucao, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :data_de_devolucao, :class => 'date_select' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                emprestimos_path, :class => 'btn' %>
  </div>
<% end %>
