<%- model_class = Emprestimo -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{model_class.model_name.human}") %></h1>
</div>
<%= form_for @emprestimo, :html => { :class => 'form-horizontal' } do |f| %>
    <% if @emprestimo.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <h2><%= pluralize(@emprestimo.errors.count, "erro") %>:</h2>

          <ul>
            <% @emprestimo.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="control-group">
      <%= f.label :devolvido_em, :class => 'control-label' %>
      <div class="controls">
         <% if @emprestimo.devolvido_em %>
            <%= @emprestimo.devolvido_em %>
        <% else %>
            <%= f.date_select :devolvido_em, :class => 'date_select' %>
        <% end %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :aluno_id, :class => 'control-label' %>
      <div class="controls">
        <%= @emprestimo.aluno.nome%>

      </div>
    </div>
    <div class="control-group">
      <%= f.label :livro_id, :class => 'control-label' %>
      <div class="controls">
        <%= @emprestimo.livro.titulo%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :data_de_emprestimo, :class => 'control-label' %>
      <div class="controls">
        <%= @emprestimo.data_de_emprestimo%>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :data_de_devolucao, :class => 'control-label' %>
      <div class="controls">
        <%= @emprestimo.data_de_devolucao%>
      </div>
    </div>


    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' if permitted_to? :create, @emprestimo %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  :back, :class => 'btn' %>
    </div>
<% end %>
