# encoding: utf-8
<%- model_class = Emprestimo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
Legenda:
<span style="background-color: #fcf8e3; padding: 2px 4px;">Alugado</span>
<span style="background-color: #dff0d8; padding: 2px 4px;">Entregue</span>
<span style="background-color: #d9edf7; padding: 2px 4px;">Entregue Com Atraso</span>
<span style="background-color: #f2dede; padding: 2px 4px;">Atrasado</span>

<br /><br />
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_emprestimo_path,
            :class => 'btn btn-primary'  if permitted_to? :new, Emprestimo.new %>

<table class="table ">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:aluno_id) %></th>
      <th><%= model_class.human_attribute_name(:livro_id) %></th>
      <th><%= model_class.human_attribute_name(:data_de_emprestimo) %></th>
      <th><%= model_class.human_attribute_name(:data_de_devolucao) %></th>
      <th><%= model_class.human_attribute_name(:devolvido_em) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th style="text-align: right;">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @emprestimos.each do |emprestimo| %>
        <% if emprestimo.status.eql? 'ALUGADO' %>
          <tr style="background-color: #fcf8e3;">
      <% elsif emprestimo.status.eql? 'ENTREGUE' %>
          <tr style="background-color: #dff0d8;">
      <% elsif emprestimo.status.eql? 'ENTREGUE COM ATRASO' %>
          <tr style="background-color: #d9edf7;">
        <% else %>
          <tr style="background-color: #f2dede;"/>
        <% end %>
        <td><%= link_to emprestimo.id, emprestimo_path(emprestimo) %></td>
        <td><%= emprestimo.aluno.nome %></td>
        <td><%= emprestimo.livro.titulo %></td>
        <td><%= emprestimo.data_de_emprestimo %></td>
      <td><%= emprestimo.data_de_devolucao %></td>
      <td><%= emprestimo.devolvido_em %></td>
      <td><%= emprestimo.status %></td>

      <td style="text-align: right;">
          <%= link_to 'Devolução',
                      edit_emprestimo_path(emprestimo),
                      :class => 'btn btn-warning btn-mini' if permitted_to? :edit, emprestimo and !emprestimo.devolvido_em  %>

          <%= link_to "Deletar",
                      emprestimo_path(emprestimo),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' if permitted_to? :destroy, emprestimo  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_emprestimo_path,
            :class => 'btn btn-primary'  if permitted_to? :new, Emprestimo.new %>
