<%- model_class = Emprestimo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:aluno_id) %>:</strong></dt>
  <dd><%= @emprestimo.aluno_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:livro_id) %>:</strong></dt>
  <dd><%= @emprestimo.livro_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data_de_emprestimo) %>:</strong></dt>
  <dd><%= @emprestimo.data_de_emprestimo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data_de_devolucao) %>:</strong></dt>
  <dd><%= @emprestimo.data_de_devolucao %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              emprestimos_path, :class => 'btn'  %>
  <%= link_to "Editar",
              edit_emprestimo_path(@emprestimo), :class => 'btn' if permitted_to? :edit, @emprestimo%>
  <%= link_to "Deletar",
              emprestimo_path(@emprestimo),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' if permitted_to? :destroy, @emprestimo %>
</div>
