<%= form_for @livro, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :titulo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :titulo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :autor, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :autor, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                livros_path, :class => 'btn' if permitted_to? :create, @livro %>
  </div>
<% end %>
