<%= form_for @livro, :html => { :class => 'form-horizontal' } do |f| %>
    <% if @livro.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <h2><%= pluralize(@livro.errors.count, "erro") %>:</h2>

          <ul>
            <% @livro.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="control-group">
    <%= f.label :titulo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :titulo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :autor, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :autor, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                livros_path, :class => 'btn' if permitted_to? :create, @livro %>
  </div>
<% end %>
