# encoding: utf-8
<%- model_class = Livro -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<span>
<%= form_tag livros_path, :method => :get do %>
    <%= text_field_tag :titulo, nil, :placeholder => 'Título' %>
    <%= text_field_tag :autor, nil, :placeholder => 'Autor'  %>
    <%= submit_tag 'Filtrar' %>
<% end %>
</span>
Legenda:
<span style="background-color: #f2dede; padding: 2px 4px;">Alugado</span>
<span style="background-color: #dff0d8; padding: 2px 4px;">Disponível</span>

<br /><br />
<table class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:titulo) %></th>
      <th><%= model_class.human_attribute_name(:autor) %></th>
      <th style="text-align: right;">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @livros.each do |livro| %>
        <% if livro.disponivel? %>
          <tr style="background-color: #dff0d8;">
        <% else %>
          <tr style="background-color: #f2dede;">
        <% end %>
        <td><%= link_to livro.id, livro_path(livro) %></td>
        <td><%= livro.titulo %></td>
        <td><%= livro.autor %></td>

        <td style="text-align: right;">
          <%= link_to "Novo Empréstimo",
                      new_livro_emprestimo_path(livro), :class => 'btn btn-info btn-mini' if livro.disponivel? and permitted_to? :new, Livro.new %>
          <%= link_to "Empréstimos Realizados",
                      livro_emprestimos_path(livro), :class => 'btn btn-success btn-mini' if permitted_to? :index %>

          <%= link_to "Editar",
                      edit_livro_path(livro), :class => 'btn btn-mini' if permitted_to? :edit, livro%>
          <%= link_to "Deletar",
                      livro_path(livro),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' if permitted_to? :destroy, livro %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_livro_path,
            :class => 'btn btn-primary' %>
